[units]
    # these units are used troughout the file
    length     = "a0"
    energy     = "eV"
    inv_length =  "a0^-1"

[hamil]
    in_plane_hopping = 0.2
    E_s   = 0.0

[grid]
    # numbers of atoms in one side of
    # the hexagon
    #unit_cell_type =  "hexagon"
    #hexagon_size =%hs%

    unit_cell_type =  "square"
    atoms_per_dim  =  2
    # length of one hexagon side in physical units
    unit_cell_dim =%hs%

[kspace]
    #either use "grid or "path"
    #filling =  "grid"     
    #k_x =  -10 10 300
    #k_y =  -10 10 300
    
    # k-path in relative coordinates
    filling = "path"
    k_label = "Gamma" "M"  "K"       "Gamma"
    k_x     = 0.0     0.5  0.6666666 0.0
    k_y     = 0.0     0.0  0.3333333 0.0
    #k_label =  "g" "m"
    #k_x =  -1  1
    #k_y =  0.0 0.0
    
    #k_label = "-k" "k"
    #k_x     = -2, 2
    #k_y     = -1, 1
    # number of k-points per section
    num_points = 100


[output]
    outfile = bla/nana.txt
    band_prefix =  output/path_hexsz=%hs%
