[units]
    # these units are used troughout the file
    length      = "a0"
    energy      = "eV"
    inv_length  = "a0^-1"
    temperature = "K"
    mag_dipol   = "mu_B"

[hamil]
    # nearest-neigh
    Vpp_sig = -1.5
    Vpp_pi  = -0.3


    # regular spin-orbit
    eta_soc = 0.4

    # local exchange
    lambda = 1.4

    n              = 1
[grid]
    unit_cell_type = 'square_2d'
    mag_type       = 'ferro'
    atoms_per_dim  = 1
    
    ferro_phi   = 0.0000E+00
    ferro_theta = 0.0000E+00
    
    lattice_constant = 1.0


    # required accuracy to set connecton
    epsilon =  1E-6

    # shift for integration
    k_shift = 0.3, 0.3, 0.0
[band]
    perform_band = True

    # Square lattice
    filling = "path_rel"
    k_label = "Gamma" "X" "M" "Gamma"
    k_x     =  0,      0.5,  0.5,  0
    k_y     =  0,      0,    0.5,  0

    # number of k-points per section
    num_points = 300

[general]
    test_run = True

[output]
    band_prefix = "output/ferro_BS/"
